[submodule "src/XCKUSiTCPlib32k_11V"]
	path = src/XCKUSiTCPlib32k_11V
	url = https://github.com/BeeBeansTechnologies/SiTCP_Netlist_for_Kintex_UltraScale.git
[submodule "src/axi_sitcp"]
	path = src/axi_sitcp
	url = https://github.com/dixilo/axi_sitcp.git
